
body {
    font-size:80%;
}

.container {
  width: 92%;
}

#wrap {
    padding-top: 80px;
}

#main {
    min-height: 520px;
}

.control-group .help-block {
    margin-bottom: 30px;
}

#main .action {
    margin-top: 15px;
}


#footer {
    background-color: #fff;    
    min-height: 3em;
}

.credit {
    text-align: center;
    margin: 0;
    line-height: 3em !important;
}

.jumbotron {
margin: 10px 0;
text-align: center;
}

.navbar-inner {
  background-color: #fff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
    font-size: 16px;

}
.navbar .nav > li {
    line-height: 40px;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus {
  color: red;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: red;
}

#uc-first-char{
    text-transform:capitalize;
}