<template name="planPaymentInfo">

    <div class="panel {{ show_signup_plan_payment_section }}" id="paymentInfo">
        <div class="panel-heading"><h3 class="panel-title">Payment Information</h3></div>
        <p>
            <div class="row">
            <div class="col-lg-6 col-5">
                        
                        <div class="input-group">
                          <span class="input-group-addon ">card number</span>
                          <input type="text" class="form-control" id="ccNum" name="ccNum" maxlength="20" size="20" placeholder="" style="">
                        </div>

            </div>
            <div class="col-lg-1 col-2">

                        <div class="input-group">
                          <span class="input-group-addon ">mm</span>
                          <input type="text" class="form-control" id="ccMonth" name="ccMonth" type="text" placeholder="MM" maxlength="2" size="2" style="width: 155%">
                        </div>
                        
            </div>
            <div class="col-lg-1 col-2">

                        <div class="input-group">
                          <span class="input-group-addon ">yy</span>
                          <input type="text" class="form-control" id="ccYear" name="ccYear" type="text" placeholder="YY" maxlength="2" size="2" style="width: 125%">
                        </div>

            </div>
            <div class="col-lg-2 col-2">

                        <div class="input-group">
                          <span class="input-group-addon ">zip</span>
                          <input type="text" class="form-control" id="zipCode" name="zipCode" type="text" placeholder="code" maxlength="5" size="5" style="width: 50%">
                        </div>
                        
            </div>

            <div class="col-lg-2 col-3">

                        <div class="input-group">
                          <span class="input-group-addon ">coupon</span>
                          <input type="text" class="form-control" id="couponCode" name="couponCode" type="text" placeholder="code" maxlength="5" size="5" style="width: 100%">
                        </div>
                        
            </div>            
            </div>

        </p>
    </div>
</template>
