<template name="personalInfoForm">
    <div class="panel">
        <div class="panel-heading"><h3 class="panel-title">Personal Information</h3></div>
        <p>
            <div class="row">
                <div class="col-lg-6">    
                    <div class="input-group">
                      <span class="input-group-addon">name</span>
                      <input type="text" class="form-control uc-first-char" placeholder="full name" id="nameSignup" name="nameSignup" placeholder="full name">
                    </div>
                    <br>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-addon">email</span>
                      <input type="text" class="form-control" placeholder="you@site.com" id="emailSignup" name="emailSignup" placeholder="yourname@something.com">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-addon ">password</span>
                      <input class="form-control" type="password" placeholder="enter a password" id="passwordSignup" name="passwordSignup">
                    </div>
                    <br>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                      <span class="input-group-addon ">confirm</span>
                      <input class="form-control" type="password" placeholder="confirm password" id="password_againSignup" name="password_againSignup">
                    </div>
                </div>
            </div>
        </p>
    </div>
</template>