<template name="dashboard">
    <div class="page-header">
        <a class="btn btn-primary btn-large col-lg-1 pull-right" type="button" href="/event/list">Manage</a>        
        <h1><b>{{getEventsCount}}</b> event{{#if getEventsCount}}s{{/if}} <small>created so far</small></h1>
    </div>

    <div class="page-header">
        <h1>analytics & insights <small>coming soon</small></h1>
    </div>

    <div class="page-header">
        <h1>reports <small>coming soon</small></h1>
    </div>
</template>
