<template name="editProfile">
    {{#with user}}

    <div class="page-header">
        <h1>account <small>personal information and settings</small>
    </h1>
    <hr>

    work in progress

<!--
    <form id="editProfileForm" name="editProfileForm">
        <div class="control-group">
            
            <div class="controls">
                <label>Name</label>
                <input id="name" class="col-lg-12" name="name" type="text" value="{{profile.name}}" placeholder="full name">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label>Plan</label>
                <input disabled class="col-lg-12" id="bio" name="bio" placeholder="plan name" value="{{planName}}">
                You cannot upgrade or downgrade at this time.
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <button type="submit" id="saveEdit" data-loading-text="Updating" class="btn btn-success btn-large">Save</button>
            </div>
        </div>
    </form>
-->
    {{/with}}

</template>
