<template name="features">
  <div class="content">
        <h2>features. see all the things we can do for you</h2>
        
        <hr>
        <h3>social</h3>
        <p>We watch Facebook and Twitter for your event questions and help peers decide how valid questions are, in real-time.</p>

        <hr>
        <h3>anonymous</h3>
        <p>Let people ask questions via email, phone, sms, web and mobile apps.<br>Enabling anonymity increases feedback!</p>

        <hr>
        <h3>real-time</h3>
        <p>You get instant feedback and insights. All questions appear instantly. No more waiting, more deciding.</p>

        <hr>
        <h3>analytic</h3>
        <p>Understand feedback sentiment and question topics. Address more of the things that matter.</p>
  </div>
</template>
