<template name="plans">
<div class="content">
    <h2>plans. we have one just for you</h2><hr>
    <div class="row col-lg-12">
        <center>
            <div class="col-lg-4 col-4 pro ">
                <div class="pricing-table-header-pro">
                    <h2>free</h2>
                    <h3>Starter</h3>
                </div>
                <div class="pricing-table-features">
                    <p><strong>Unlimited</strong> Questions</p>
                    <p><strong>5</strong> Events</p>
                    <p><strong>Web</strong> Enabled</p>
                    <p><strong>Mobile</strong> Enabled</p>
                    <p><strong>Email</strong> Enabled</p>
                </div>
                <div class="pricing-table-signup-pro">
                  <p><a href="/signup">Sign Up</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-4 small">
                <div class="pricing-table-header-small">
                    <h2>$25/mo</h2>
                    <h3>Growth</h3>
                </div><div class="pricing-table-features">
                    <p><strong>Unlimited</strong> Questions</p>
                    <p><strong>25</strong> Events</p>
                    <p><strong>Web</strong> Enabled</p>
                    <p><strong>Mobile</strong> Enabled</p>
                    <p><strong>Phone & SMS</strong> Enabled</p>
                    <p><strong>Email</strong> Enabled</p>
                    <p><strong>Twitter</strong> Sync</p>
                    <p><strong>Presenter</strong> Mode</p>
                    <p><strong>Custom</strong> Branding</p>
                </div>
                <div class="pricing-table-signup-small">
                  <p><a href="/signup/1">Sign Up</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-4 medium">
                <div class="pricing-table-header-medium">
                    <h2>$100/mo</h2>
                    <h3>Enterprise</h3>
                </div><div class="pricing-table-features">
                    <p><strong>Unlimited</strong> Questions</p>
                    <p><strong>Unlimited</strong> Events</p>
                    <p><strong>Web</strong> Enabled</p>
                    <p><strong>Mobile</strong> Enabled</p>
                    <p><strong>Phone & SMS</strong> Enabled</p>
                    <p><strong>Email</strong> Enabled</p>
                    <p><strong>Twitter</strong> Sync</p>
                    <p><strong>Topic</strong> Analytics</p>
                    <p><strong>Sentiment</strong> Analytics</p>
                    <p><strong>Presenter</strong> Mode</p>
                    <p><strong>Custom</strong> Branding</p>
                    <p><strong>Premium</strong> Support</p>
                </div>
                <div class="pricing-table-signup-medium">
                    <p><a href="/signup/2">Sign Up</a></p>
                </div>
            </div>

        </center>
    </div>
    <div class="row col-lg-12">    
        <center>
            <div class="alert alert-success">
                Are you a professor or university event coordinator? 
                <a href="mailto: contact@feedvenue.com">Contact us</a> for a free Enterprise Plan.
            </div>
            <div class="alert alert-info">            
            Need more features? <a href="mailto: contact@feedvenue.com">Contact us</a> for custom plans.
            </div>
        </center>
    </div>
</div>
</template>
