<template name="privacy">
    <div class="content">
        <h1>Privacy</h1><br>
        <p>
            We use Google Analytics to understand where our users come from and how effective our marketing campaigns are.<br>
            We do not use other tracking technologies or cookies for user tracking.<br>
            We will never share your email with another third party service.<br>
            If you give us your contact informatio, we will not sell that information to third party marketing sources. We will only use that information to send you updates on our product offerings.
        </p>
    </div>
</template>
