<template name="terms">
    <div class="content">
        <h1>Terms of Service</h1><br>
        <p>
            You own your data, at all times. You may always export all data and close your account. If you do close your account, all data and customer information will be deleted from our system.<br>
            You may only have one free node per account.<br>
            You may not reverse engineer our technology stack or hacking our platform. Attempting to do so will result in your access being banned.<br>
        </p>
    </div>
</template>
