<template name="what">
    <div class="content">
        <h2>What is feedvenue?</h2>
        <p>FeedVenue is a real-time feedback platform. We're providing the best social feedback platform that helps you address event questions and helps people express themselves.</p>
        <hr>
        <h2>What do you mean by real-time?</h2>
        <p>As soon as soneone send an email in to your unique event email address or your event phone number, the event page itself will show the questions. All users who have the event page open will see new questions and votes instantly. There is no need for them to refresh the web page!</p>
        <hr>
        <h2>What communication mediums do you support?</h2>
        <p>Currently, we have a web and mobile compatible site. We also support SMS (text message) and voicemail (transcribed to text), for paying plans. We also support real-time Twitter questions via tweet to your event hashtag.</p>
        <hr>
        <h2>Can I put my corporate logo and remove all mentions of your site?</h2>
        <p>Yes, just sign up for a paying plan!</p>
        <hr>
        <h2>What are the limitations of the free plan?</h2>
        <p>All event questions and the event itself will be made public in our public events page. You will also be limited to 5 events at the same time on your account. No phone support is included.</p>
        <hr>
        <h2>Am I locked in?</h2>
        <p>Not at all. You can always export all your data, even on the free plan.</p>
        <hr>
        <h2>Do you have an iPad/Tablet app?</h2>
        <p>Not at this time, but we are considering it, depending on customer demand. Our website is fully optimized for browsing on tablets. On the iPad, use Safari for best results.</p>
        <hr>
        <h2>Is my credit card secure on your site?</h2>
        <p>Yes. We do not store your credit card information on our servers at any point. We use a third party credit card processing service (stripe.com) that is fully PCI compliant. </p>
        <hr>
    </div>
</template>
